<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TaskList</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClearHistory</display-name>
    <servlet-name>ClearHistory</servlet-name>
    <servlet-class>com.task.Servlets.ClearHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearHistory</servlet-name>
    <url-pattern>/ClearHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>com.task.Servlets.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clear</display-name>
    <servlet-name>Clear</servlet-name>
    <servlet-class>com.task.Servlets.Clear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clear</servlet-name>
    <url-pattern>/Clear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTask</display-name>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>com.task.Servlets.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImplementation</display-name>
    <servlet-name>AddImplementation</servlet-name>
    <servlet-class>com.task.Servlets.AddImplementation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImplementation</servlet-name>
    <url-pattern>/AddImplementation</url-pattern>
  </servlet-mapping>
</web-app>